.agent {
    width: 33%;
    padding-bottom: 5%;
    float: left;
    .h1 {
        font-weight: bold;
    }
    .agent-image {
        width: 33%;
        height: 33%;
        border-radius: 50%;
        float: left;
        margin-right: 1rem;
    }
}