@import '../common';
.navbar {
    height: 3rem;
    .nav-links {
        height: 100%;
        width: 100%;
        background: linear-gradient(#FDFDFD, #F0F0F0);
        .nav-link {
            height: 2rem;
            width: 10rem;
            padding-top: 1rem;
            display: inline-block;
            color: $darkTextColor;
            font-size: 1rem;
            text-align: center;
        }
        .border {
            border-right: 1px solid;
            border-color: $darkBgColor;
        }
    }
}