@import '../common';
.navbar {
    height: 3rem;
    .nav-links {
        height: 100%;
        width: 100%;
        background: $buttonColor;
        white-space: nowrap;
        .nav-link {
            height: 80%;
            width: 15%;
            padding-top: 1%;
            display: inline-block;
            color: $darkTextColor;
            font-size: 1rem;
            text-align: center;
        }
    }
}