<navbar></navbar>
<div class="agents">
    <div class="search-area">
        <form class="search-box" ng-submit="findAgents()">
            <input type="text" class="search-input" ng-model="searchText" />
            <input class="search-button" type="submit" value="SEARCH" />
        </form>
    </div>

    <div class="agent-container" ng-repeat="agentResult in agentResults">
        <agent agent-name={{agentResult.Name}} agency-name={{agentResult.SecondaryName}} image-url={{agentResult.ImageUrl}}></agent>
    </div>

</div>